@import '../base/variables';
@import '../base/extends';

// Heading
.heading-divider {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    @media only screen and (max-width: 768px) {
        margin-bottom: 50px;
    }
}

// Location Block
.location-block {
    background-color: $color-white;
    box-shadow: 0px 3px 5px rgba($color-black, 0.3);
    margin: 0 auto;
    height: 70vh;
    width: 70%;
    @extend %flexRow;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
    }
    &__content {
        @extend %bkImage;
        color: $color-white;
        padding: 40px;
        width: 40%;
        @extend %flexCol;
        justify-content: space-between;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
        &__weather-text {
            @extend %weatherText;
        }
        &__temp {
            @extend %weatherTextWeight;
        }
        &__phw {
            margin-top: 0.8rem;
            h4 {
                font-weight: 400;
                margin: 10px 0;
            }
        }
        &__last-update {
            font-weight: 300;
            margin: 0;
        }
    }
    &__data {
        padding: 40px;
        width: 60%;
        @media only screen and (max-width: 768px) {
            width: 100%;
        }
        &__heading {
            border-bottom: 1px solid #111;
            border-width: 3px;
            display: flex;
            margin-bottom: 20px;
            padding-bottom: 4px;
            width: fit-content;
        }
        &__content {
            @extend %flexCol;
            h3 {
                font-size: 1.2rem;
                font-weight: 500;
            }
            &__weather-text {
                @extend %weatherText;
                font-size: 1.2rem;
                margin-top: 10px;
                h4 {
                    @extend %weatherTextWeight;
                }
            }
            &__temp {
                @extend %weatherTextWeight;
                span {
                    font-size: 1rem;
                }
            }
            &__hours {
                @extend %flexRow;
                margin-top: 25px;
                justify-content: flex-start;
                overflow-x: scroll;
                &__weather {
                    @extend %flexCol;
                    border-right: 1px solid rgba(0, 0, 0, .1);
                    margin: 10px 20px;
                    text-align: center;
                    & > * {
                        width: 150px;
                    }
                }
            }
        }
    }
}