@import '../base/variables';

// Heading
.heading-divider {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

// Location Block
.location-block {
    background-color: $color-primary;
    margin: 0 auto;
    height: 70vh;
    width: 70%;
}