@import '../base/mixins';
@import '../base/variables';

// Header
.header {
    min-height: 90vh;
    position: relative;
    &__container {
        @include posAbs(50%, 50%);
        color: $color-black;
        text-align: center;
        &__icon {
            color: $color-primary;
            font-size: 3rem;
            margin-bottom: 5px;
        }
        span {
            font-weight: 300;
            display: block;
            margin-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
        h1 {
            font-size: 2.5rem;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            ul {
                box-shadow: 0px 3px 5px rgba($color-black, 0.3);
                max-height: 200px;
                padding: 10px;
                list-style: none;
                overflow-y: scroll;
                li {
                    cursor: pointer;
                    margin: 10px;
                    text-align: left;
                }
            }
            input {
                border: 2px solid $color-primary;
                transition: all .2s ease-in-out;
                width: 60%;
                &:focus {
                    width: 65%;
                }
            }
            button {
                margin-top: 20px;
            }
        }
    }
}